<div class="row">
    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
        <div id="accordion">
            <div class="card">
                <div class="card-header">
                    <a class="collapsed py-2" data-bs-toggle="collapse" href="#collapseOne">
                      <i class='bx '></i>
                      Vehicle Information
                    </a>
                </div>
                <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div>Plate Char/Plat No.</div>
                                <div>{{GetQuoteDetailsResponse?.platenumber}}</div>
                            </li>
                            <li class="list-group-item">
                              <div>Engine No</div>
                              <div>{{GetQuoteDetailsResponse?.enginenumber}}</div>
                            </li>
                            <li class="list-group-item">
                              <div>Chassis No</div>
                              <div>{{GetQuoteDetailsResponse?.chassisnumber}}</div>
                            </li>
                            <li class="list-group-item">
                              <div>Registration Type</div>
                              <div>{{GetQuoteDetailsResponse?.registraiontypedesc}}</div>
                            </li>
                            <li class="list-group-item">
                              <div>Vehicle Barcode</div>
                              <div>{{GetQuoteDetailsResponse?.Barcode}}</div>
                            </li>
                            <li class="list-group-item">
                              <div>Year.of.Manuf</div>
                              <div>{{GetQuoteDetailsResponse?.makeyear}}</div>
                            </li>
                            <li class="list-group-item">
                              <div>Vehicle Type</div>
                              <div>{{GetQuoteDetailsResponse?.vehicletypedesc}}</div>
                            </li>
                            <li class="list-group-item">
                                <div>Vehicle Make/Model</div>
                                <div>{{GetQuoteDetailsResponse?.vehiclemakedesc}}/{{GetQuoteDetailsResponse?.vehiclemodeldesc}}</div>
                            </li>
                            <li class="list-group-item">
                              <div>Color</div>
                              <div>{{GetQuoteDetailsResponse?.colordesc}}</div>
                            </li>
                            <li class="list-group-item">
                                <div>Registration Issue Date</div>
                                <div>{{GetQuoteDetailsResponse?.registrationissuedate}}</div>
                            </li>
                            <li class="list-group-item">
                              <div>Registration End Date</div>
                              <div>{{GetQuoteDetailsResponse?.registrationenddate}}</div>
                            </li>

                            <li class="list-group-item">
                                <div>Sum Insured</div>
                                <div>{{sumInsured}}</div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <a class="collapsed py-2" data-bs-toggle="collapse" href="#collapseTwo">
                      <i class='bx '></i> License Information
                    </a>
                </div>
                <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">

                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div>License Number/Company Registration</div>
                                <div>{{licenseInformation?.licensenumber}}</div>
                            </li>
                            <li class="list-group-item">
                                <div>Langaugae</div>
                                <div>{{licenseInformation?.language}}</div>
                            </li>
                            <li class="list-group-item">
                                <div>Date First Issued</div>
                                <div>{{licenseInformation?.datefirstissued}}</div>
                            </li>
                            <li class="list-group-item">
                                <div>Place of Issued</div>
                                <div>{{licenseInformation?.placeofissue}}</div>
                            </li>
                            <li class="list-group-item">
                                <div>Date of Expired</div>
                                <div>{{licenseInformation?.dateofexpiry}}</div>
                            </li>
                            <li class="list-group-item">
                                <div>Date of Birth</div>
                                <div>{{licenseInformation?.dateofbirth}}</div>
                            </li>
                            <li class="list-group-item">
                              <div>License Suspended Current</div>
                              <div>{{licenseInformation?.licensesuspendedcurrent == null?'N/A':licenseInformation?.licensesuspendedcurrent}}</div>
                            </li>
                            <li class="list-group-item">
                              <div>License Suspended Previous</div>
                              <div>{{licenseInformation?.licensesuspendedprevious == null?'N/A':licenseInformation?.licensesuspendedprevious}}</div>
                            </li>
                            <li class="list-group-item">
                              <div>License Suspended End Date</div>
                              <div>{{licenseInformation?.licensesuspendeddateend == null?'N/A':licenseInformation?.licensesuspendeddateend}}</div>
                            </li>
                            <li class="list-group-item">
                              <div>Type of License Class</div>
                              <div>
                                 <ng-container *ngFor="let item of licenseInformation?.licenseclass">
                                   <span class="mx-1">{{item}}</span>
                                 </ng-container>
                              </div>
                            </li>
                            <li class="list-group-item">
                              <div>License Sub Class</div>
                              <div>
                                <ng-container *ngFor="let item of licenseInformation?.licensesubclass">
                                  <span>{{item}}</span>
                                </ng-container>
                              </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card">
              <div class="card-header">
                  <a class="collapsed py-2" data-bs-toggle="collapse" href="#collapseFour">
                    <i class='bx '></i> Claim Information (License Number)
                  </a>
              </div>
              <div id="collapseFour" class="collapse" data-bs-parent="#accordion">
                  <div class="card-body">

                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                              <div>First Party</div>
                              <div>{{claimInfoLicense?.firstPartyResponse == null ? 'N/A': claimInfoLicense?.firstPartyResponse}}</div>
                          </li>
                          <li class="list-group-item">
                            <div>First Party Claim Amount</div>
                            <div>{{claimInfoLicense?.fpclaimcount == null ? 'N/A': claimInfoLicense?.fpclaimcount}}</div>
                          </li>
                          <li class="list-group-item">
                            <div>Second Party</div>
                            <div>{{claimInfoLicense?.secondPartyResponse == null ? 'N/A': claimInfoLicense?.secondPartyResponse}}</div>
                          </li>
                          <li class="list-group-item">
                            <div>Second Party Claim Amount</div>
                            <div>{{claimInfoLicense?.spclaimcount == null ? 'N/A': claimInfoLicense?.spclaimcount}}</div>
                          </li>
                          <li class="list-group-item">
                            <div>Premium Claim Count</div>
                            <div>{{claimInfoLicense?.premiaclaimcount == null ? 'N/A': claimInfoLicense?.premiaclaimcount}}</div>
                          </li>
                      </ul>
                  </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                  <a class="collapsed py-2" data-bs-toggle="collapse" href="#collapseFive">
                    <i class='bx '></i> Claim Information (Chassis Number)
                  </a>
              </div>
              <div id="collapseFive" class="collapse" data-bs-parent="#accordion">
                  <div class="card-body">

                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                              <div>First Party</div>
                              <div>{{claimInfoChassis?.firstPartyResponse == null ? 'N/A': claimInfoChassis?.firstPartyResponse}}</div>
                          </li>
                          <li class="list-group-item">
                            <div>First Party Claim Amount</div>
                            <div>{{claimInfoChassis?.fpclaimcount == null ? 'N/A': claimInfoChassis?.fpclaimcount}}</div>
                          </li>
                          <li class="list-group-item">
                            <div>Second Party</div>
                            <div>{{claimInfoChassis?.secondPartyResponse == null ? 'N/A': claimInfoChassis?.secondPartyResponse}}</div>
                          </li>
                          <li class="list-group-item">
                            <div>Second Party Claim Amount</div>
                            <div>{{claimInfoChassis?.spclaimcount == null ? 'N/A': claimInfoChassis?.spclaimcount}}</div>
                          </li>
                          <li class="list-group-item">
                            <div>Premium Claim Count</div>
                            <div>{{claimInfoChassis?.premiaclaimcount == null ? 'N/A': claimInfoChassis?.premiaclaimcount}}</div>
                          </li>
                      </ul>
                  </div>
              </div>
            </div>

        </div>
    </div>
    <div class="col-12 col-sm-8 col-md-8 col-lg-8">
          <ng-container *ngFor="let item of premiumList">
            <div class="card mycard comprehensive mb-2">
              <div class="card-header d-flex justify-content-between">
                <div>{{item.XDataName}}</div>
                <div style="color: var(--appColor2);">OMR {{item?.FinalPremium}}</div>

              </div>
              <div class="card-body">
                  <div class="my-2">
                      <label>Insured Covers</label>
                  </div>

                  <div class="row">
                    <ng-container *ngFor="let insuredcover of item?.BenefitsWithPremium">
                    <div class="col-12 col-md-6 col-lg-6 my-3">
                          <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24"
                              stroke-linecap="round" stroke-linejoin="round" color="#ea5d25" class="pe-2" height="30"
                              width="30" xmlns="http://www.w3.org/2000/svg" style="color: rgb(234, 93, 37);">
                              <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                              <circle cx="9" cy="7" r="4"></circle>
                              <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                              <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                          </svg>
                          {{insuredcover.Description_Ar}}
                          <h5><span class="badge bg-warning">OMR {{insuredcover?.DataValue}}</span></h5>
                      </div>
                    </ng-container>

                  </div>

                  <div class="my-2">
                      <label>Benefits</label>
                  </div>

                  <div class="row">
                    <ng-container *ngFor="let benefits of item?.Benefits">
                      <div class="col-12 col-md-6 col-lg-6 my-2">
                          <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024"
                              color="#ea5d25" class="pe-2" height="30" width="30" xmlns="http://www.w3.org/2000/svg"
                              style="color: rgb(234, 93, 37);">
                              <path
                                  d="M854.6 288.6L639.4 73.4c-6-6-14.1-9.4-22.6-9.4H192c-17.7 0-32 14.3-32 32v832c0 17.7 14.3 32 32 32h640c17.7 0 32-14.3 32-32V311.3c0-8.5-3.4-16.7-9.4-22.7zM790.2 326H602V137.8L790.2 326zm1.8 562H232V136h302v216a42 42 0 0 0 42 42h216v494zM544 472c0-4.4-3.6-8-8-8h-48c-4.4 0-8 3.6-8 8v108H372c-4.4 0-8 3.6-8 8v48c0 4.4 3.6 8 8 8h108v108c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8V644h108c4.4 0 8-3.6 8-8v-48c0-4.4-3.6-8-8-8H544V472z">
                              </path>
                          </svg>
                          {{benefits?.Description_Ar}}
                      </div>
                    </ng-container>
                  </div>
                  <div class="card border border-warning" *ngIf="item?.Buypolicyyn == 'N'">
                    <div class="card-body text-warning">
                      <ng-container *ngFor="let item of item?.ReferalDesc.slice(0,1)">
                          {{item.ReferralDescription}}
                      </ng-container>
                    </div>
                  </div>
              </div>
              <div class="card-footer justify-content-between d-flex">
                  <button type="button" class="btn vision-blue-btn mx-2" (click)="onGetAddon(item)">
                      <svg stroke="currentColor" fill="currentColor" stroke-width="0" t="1551322312294"
                          viewBox="0 0 1024 1024" version="1.1" class="pe-2" height="30" width="30"
                          xmlns="http://www.w3.org/2000/svg">
                          <defs></defs>
                          <path d="M474 152m8 0l60 0q8 0 8 8l0 704q0 8-8 8l-60 0q-8 0-8-8l0-704q0-8 8-8Z"></path>
                          <path d="M168 474m8 0l672 0q8 0 8 8l0 60q0 8-8 8l-672 0q-8 0-8-8l0-60q0-8 8-8Z"></path>
                      </svg>
                      Select Addons
                  </button>

                  <button  type="button" *ngIf="item?.Buypolicyyn == 'Y'" class="btn vision-orange-btn mx-2"  (click)="onGetOtp(item)">
                      <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" class="pe-2"
                          height="30" width="30" xmlns="http://www.w3.org/2000/svg">
                          <path
                              d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z">
                          </path>
                      </svg>
                      Buy Now {{item?.FinalAmount}}
                  </button>
                  <button  type="button" *ngIf="item?.Buypolicyyn == 'N'" class="btn vision-orange-btn mx-2" (click)="CompanyWillContact()">
                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" class="pe-2"
                        height="30" width="30" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z">
                        </path>
                    </svg>
                    Refer and Approve
                </button>


              </div>
          </div>
          </ng-container>


    </div>
</div>
