<form [formGroup]="vehicleInfoForm">
  <div class="d-flex justify-content-between">
    <div class="">
      <div class="mb-3 mt-3">
        <label class="form-label mb-2 fw-bold">Is your vehicle imported</label>
        <div class="radio-toolbar">
          <input id="isVehicleImported_Yes" type="radio" formControlName="isVehicleImported" name="isVehicleImported" value="Y" (change)="onCheckIsVehicleImported()">
          <label for="isVehicleImported_Yes">Yes</label>
          <input type="radio" id="isVehicleImported_No" formControlName="isVehicleImported" name="isVehicleImported" value="N" (change)="onCheckIsVehicleImported()">
          <label for="isVehicleImported_No">No</label>
        </div>

      </div>
    </div>
    <div class="">
      <div class="mb-3 mt-3">
        <label class="form-label mb-2 fw-bold">Is your vehicle owned by a company</label>
        <div class="radio-toolbar">
          <input id="isVehicleOwned_Yes" type="radio" formControlName="isVehicleOwned" name="isVehicleOwned" value="Y">
          <label for="isVehicleOwned_Yes">Yes</label>
          <input type="radio" id="isVehicleOwned_No" formControlName="isVehicleOwned" name="isVehicleOwned" value="N">
          <label for="isVehicleOwned_No">No</label>
        </div>

      </div>
    </div>
    <div class="">
      <div class="mb-3 mt-3">
        <label class="form-label mb-2 fw-bold">Visa Status</label>
        <div class="custom-radio-btn">
           <div class="radio-toolbar">
            <ng-container *ngFor="let item of visaStatusList;let i=index;">
              <input id="visaStatus{{i}}" type="radio" formControlName="visaStatus" name="visaStatus" [value]="item.Code">
              <label for="visaStatus{{i}}">{{item.Description_en}}</label>
            </ng-container>

          </div>
        </div>

      </div>
    </div>
    <div class="">
      <div class="mb-3 mt-3">
        <label class="form-label mb-2 fw-bold">Have Promocode</label>
        <div class="custom-radio-btn">
          <div class="radio-toolbar">
           <input id="HavePromoYN_Yes" type="radio" formControlName="HavePromoYN" name="HavePromoYN" value="Y" (change)="onCheckIsPromoCode()">
           <label for="HavePromoYN_Yes">Yes</label>
           <input type="radio" id="HavePromoYN_No" formControlName="HavePromoYN" name="HavePromoYN" value="N" (change)="onCheckIsPromoCode()">
           <label for="HavePromoYN_No">No</label>
         </div>
       </div>

      </div>
    </div>
  </div>
  <div class="row">



    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
      <div class="mb-3 mt-3">
        <label class="form-label mb-2 fw-bold">Trim <span class="text-danger">*</span></label>
        <div class="input-group mb-3">
          <span class="input-group-text">
            <trim-icon></trim-icon>
          </span>
          <ng-select class="form-control form-control-lg" (change)="onTrimChange()"
            placeholder="Trim" formControlName="trim" [items]="trimList" bindValue="Code" bindLabel="Description_en">
          </ng-select>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
      <div class="mb-3 mt-3">
        <label class="form-label mb-2 fw-bold">Seating Capacity <span class="text-danger">*</span></label>
        <div class="input-group mb-3">
          <span class="input-group-text">
            <seat-icon></seat-icon>
          </span>
          <input type="text" class="form-control form-control-lg" placeholder="Seating Capacity" formControlName="seatingCapacity">
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
      <div class="mb-3 mt-3">
        <label class="form-label mb-2 fw-bold">Geographical Extension <span class="text-danger">*</span></label>
        <div class="input-group mb-3">
          <span class="input-group-text">
           <geo-icon></geo-icon>
          </span>
          <ng-select class="form-control form-control-lg"  [items]="geoGraphiclaList" bindLabel="Description_en" bindValue="Code"
            placeholder="Geographical Extension" formControlName="geoGraphicalExtension" (change)="onChangeGeoGraphical()">
          </ng-select>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-6" *ngIf="vehicleInfoForm.controls['isVehicleImported'].value== 'Y'">
      <div class="mb-3 mt-3">
        <label class="form-label mb-2 fw-bold">Imported Country <span class="text-danger">*</span></label>
        <div class="input-group mb-3">
          <span class="input-group-text">
            <import-icon></import-icon>
          </span>
          <ng-select class="form-control form-control-lg" placeholder="Country Name" [items]="importedCountry" bindValue="Code" bindLabel="Description_en" formControlName="ImportedCountry">
          </ng-select>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-6" *ngIf="vehicleInfoForm.controls['visaStatus'].value == '2'">
      <div class="mb-3 mt-3">
        <label class="form-label mb-2 fw-bold">No.Of.Years <span class="text-danger">*</span></label>
        <div class="input-group mb-3">
          <span class="input-group-text">
            <calender-icon></calender-icon>
          </span>

          <input type="text" class="form-control form-control-lg" placeholder="No.Of.Years" formControlName="noOfYears">
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
      <div class="mb-3 mt-3">
        <label class="form-label mb-2 fw-bold">NCD <span class="text-danger">*</span></label>
        <div class="input-group mb-3">
          <span class="input-group-text">
            <claim-icon></claim-icon>
          </span>
          <ng-select class="form-control form-control-lg" [items]="NcdList" bindValue="Code" bindLabel="Description_en"
            placeholder="NCD" formControlName="ncd" (change)="onChangeNCD()">
          </ng-select>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-6" *ngIf="vehicleInfoForm.controls['ncd'].value == -1">
      <div class="mb-3 mt-3">
        <label class="form-label mb-2 fw-bold">Claim Amount <span class="text-danger">*</span></label>
        <div class="input-group mb-3">
          <span class="input-group-text">
            <claimamount-icon></claimamount-icon>
          </span>
          <ng-select class="form-control form-control-lg" [items]="claimAmountList" bindLabel="Description_en"
            placeholder="Claim Amount" formControlName="claimAmount">
          </ng-select>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-6" *ngIf="isHeavyVehicle">
      <div class="mb-3 mt-3">
        <label class="form-label mb-2 fw-bold">Tonneage <span class="text-danger">*</span></label>
        <div class="input-group mb-3">
          <span class="input-group-text">
            <tonne-icon></tonne-icon>
          </span>
          <ng-select class="form-control form-control-lg" [items]="TonneList" bindLabel="Description_en" bindValue="Code"
            placeholder="Allowed weight in tonne" formControlName="tonnAge">
          </ng-select>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-6" *ngIf="isLightVehicle && flowType">
      <div class="mb-3 mt-3">
        <label class="form-label mb-2 fw-bold">Vehicle Usage <span class="text-danger">*</span></label>
        <div class="input-group mb-3">
          <span class="input-group-text">
            <wheel-icon></wheel-icon>
          </span>
          <ng-select class="form-control form-control-lg"  [items]="vehicleUsageList" bindValue="Code" bindLabel="Description_en"
            placeholder="Vehicle Usage" formControlName="VechicleUsage">
          </ng-select>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-6" *ngIf="vehicleInfoForm.controls['HavePromoYN'].value == 'Y'">
      <div class="mb-3 mt-3">
        <label class="form-label mb-2 fw-bold">Promo Code<span class="text-danger">*</span></label>
        <div class="input-group mb-3">
          <span class="input-group-text">
            <promocode-icon></promocode-icon>
          </span>
          <input type="text" class="form-control form-control-lg" placeholder="Promo Code" formControlName="promocode">
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-6" *ngIf="vehicleInfoForm.controls['HavePromoYN'].value == 'Y'">
      <div class="mb-3 mt-3">
        <label class="form-label mb-2 fw-bold">Membership Number<span class="text-danger">*</span></label>
        <div class="input-group mb-3">
          <span class="input-group-text">
            <membercard-icon></membercard-icon>
          </span>
          <input type="text" class="form-control form-control-lg" placeholder="Membership Number" formControlName="membershipNo">
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <div class="mb-3 mt-3">
        <div class="d-flex justify-content-between">
          <div class="flex-item">
            <label  class="form-label mb-2 fw-bold">Sum Insured <span class="text-danger">*</span></label>
          </div>
          <div class="flex-item">
            <div class="d-flex">
              <input type="text" class="form-control form-control-lg" placeholder="SumInsured OMR"  [ngModelOptions]="{standalone: true}"  [(ngModel)]="yourSumInsured" style="width: 200px;">
            </div>
          </div>
        </div>
        <mat-slider class="example-margin" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step"
          [thumbLabel]="thumbLabel"  [vertical]="vertical"
          aria-labelledby="example-name-label" formControlName="sumInsured" [(ngModel)]="yourSumInsured">
        </mat-slider>
        <div class="d-flex justify-content-between">
          <div class="fw-bold">OMR {{min}}</div>
          <div class="fw-bold">OMR {{max}}</div>
        </div>
      </div>
    </div>

  </div>
  <div class="text-center">
    <button type="button" class="btn vision-blue-btn mx-3" (click)="isGetQuote.emit(true)">
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" class="pe-2"
        height="30" width="30" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z">
        </path>
        </svg>
      Back
    </button>
    <button type="button" class="btn vision-blue-btn mx-3"  (click)="onCreateQuote()" [disabled]="!vehicleInfoForm.valid">Next
      <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" class="ps-2"
        height="30" width="30" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z">
        </path>
      </svg>
    </button>

  </div>
</form>
