.vision-upload-btn {
  background-color: #fff;
  min-width: 170px;
  border-radius: 1rem;
  padding: 13px;
  border: 1px solid #ccc;
}
.list-group-horizontal>.list-group-item:first-child {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.list-group-horizontal>.list-group-item:last-child {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

